/udemy-site/node_modules
/udemy-site/public/hot
/udemy-site/public/storage
/udemy-site/storage/*.key
/udemy-site/vendor
/udemy-site/.env
/udemy-site/.env.backup
/udemy-site/.phpunit.result.cache
/udemy-site/Homestead.json
/udemy-site/Homestead.yaml
/udemy-site/npm-debug.log
/udemy-site/yarn-error.log


/laravel-contact-app/node_modules
/laravel-contact-app/public/hot
/laravel-contact-app/storage
/laravel-contact-app/*.key
/laravel-contact-app/vendor
/laravel-contact-app/.env
/laravel-contact-app/.env.backup
/laravel-contact-app/.phpunit.result.cache
/laravel-contact-app/Homestead.json
/laravel-contact-app/Homestead.yaml
/laravel-contact-app/npm-debug.log
/laravel-contact-app/yarn-error.log

